page-home {
    $aniHeight: 3em;
    .active {
        border-bottom: 2px solid #E79C0E;
        opacity: 1.0!important;
    }

    .seg {
        height: auto;
        color: black;
        font-size: 1.5em;
        opacity: 0.3;
        font-weight: bold;
        font-family: 'roboto-bold';
    }
    
    .ani {
        animation: swing 2s infinite;
        height: $aniHeight;
        line-height: $aniHeight;
        // width: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        // background: yellow;
    }
    // ion-header {
    //     background: yellow;
    // }

    // ion-toolbar {
    //     background: blue!important;
    //     // height:100px;
    // }
    // ion-segment {
    //     // height: 10em!important;
    //     background: yellow;
    // }
    // ion-segment-button {
    //     height: 3em;
    // }
    .toolbar-background {
        background-color: transparent;
    }
}
